@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-slate-950 text-slate-100 antialiased;
}

input, textarea, select {
  @apply bg-slate-900 border border-slate-800 text-slate-100 rounded-md px-3 py-2;
}

button {
  @apply rounded-md;
}
